    <div id="homepage_layout">
    <section id="left-part" style="margin: 20px;">
    <h1 style="color: rgba(80, 67, 165, 0.918);font-weight: bolder;font-size: 30px;;" >Welcome to Microsoft Teams</h1>
    <p>Meet,Call,Chat and Collaborate in Just One Place</p>
    <a href="/users/sign-in"> <button class="button" style="vertical-align:middle"><span>sign-in </span></button></a>
     <a href="/users/sign-up"><button class="button" style="vertical-align:middle"><span>sign-up  </span></button></a>
    </section>
    <section id="right-img">
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RWDeEK?ver=e1e6&q=90&m=2&h=768&w=1024&b=%23FFFFFFFF&aim=true">
    </section>
    </div>

 

